doctype html
html
    head
        title= 'Salame'
        link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css')
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Raleway')
    body
        div.upperTopDiv
            div.mainMenu
        div.whiteSpace
        //- This is the first part showed when entered the site
        div.textSpace.first
            div.leftContent
            div.rightContent
                div.text
                    div.container
                        h1.title.animated.fadeInRight Accueil
                        p.paragraph
                            div.firstPhrase.animated.fadeInRight
                                span
                                    |Le secretariat est ouvert de 8h30 a 18h
                            br
                            div.secondPhrase.animated.fadeInRight
                                span
                                    |Veuilliez venir accompagner pour une colonospcopie
                            br
                            div.thirdPhrase.animated.fadeInRight
                                span
                                    |J'aime manger des fraises
        //- This is the second middle part
        div.textSpace.second
            div.leftContent
            div.rightContent
                div.text
                    div.container
                        h1.title.animated.fadeInRight Accueil
                        p.paragraph
                            div.firstPhrase.animated.fadeInRight
                                span
                                    | Le secretariat est ouvert de 8h30 a 18h
                            br
                            div.secondPhrase.animated.fadeInRight
                                span
                                    | Veuilliez venir accompagner pour une colonospcopie
                            br
                            div.thirdPhrase.animated.fadeInRight
                                span
                                    | J'aime manger des fraises
        //- This is the third right part
        div.textSpace.third
            div.leftContent
            div.rightContent
                div.text
                    div.container
                        h1.title.animated.fadeInRight Accueil
                        p.paragraph
                            div.firstPhrase.animated.fadeInRight
                                span
                                    | Le secretariat est ouvert de 8h30 a 18h
                            br
                            div.secondPhrase.animated.fadeInRight
                                span
                                    | Veuilliez venir accompagner pour une colonospcopie
                            br
                            div.thirdPhrase.animated.fadeInRight
                                span
                                    | J'aime manger des fraises
        div.whiteSpace
        //- This is the first part showed when entered the site
        div.textSpace.first.under
            div.leftContent
            div.rightContent
                div.text
                    div.container
                        h1.title.animated.fadeInRight Accueil
                        p.paragraph
                            div.firstPhrase.animated.fadeInRight
                                span
                                    | Le secretariat est ouvert de 8h30 a 18h
                            br
                            div.secondPhrase.animated.fadeInRight
                                span
                                    | Veuilliez venir accompagner pour une colonospcopie
                            br
                            div.thirdPhrase.animated.fadeInRight
                                span
                                    | J'aime manger des fraises
        //- Second part
        div.textSpace.second.under
            div.leftContent
            div.rightContent
                div.text
                    div.container
                        h1.title.animated.fadeInRight Accueil
                        p.paragraph
                            div.firstPhrase.animated.fadeInRight
                                span
                                    | Le secretariat est ouvert de 8h30 a 18h
                            br
                            div.secondPhrase.animated.fadeInRight
                                span
                                    | Veuilliez venir accompagner pour une colonospcopie
                            br
                            div.thirdPhrase.animated.fadeInRight
                                span
                                    | J'aime manger des fraises
        //- Third part
        div.textSpace.third.under
            div.leftContent
            div.rightContent
                div.text
                    div.container
                        h1.title.animated.fadeInRight Accueil
                        p.paragraph
                            div.firstPhrase.animated.fadeInRight
                                span
                                    | Le secretariat est ouvert de 8h30 a 18h
                            br
                            div.secondPhrase.animated.fadeInRight
                                span
                                    | Veuilliez venir accompagner pour une colonospcopie
                            br
                            div.thirdPhrase.animated.fadeInRight
                                span
                                    | J'aime manger des fraises
        div.whiteSpace